{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div{{ attributes.addClass("recollect-block") }}>
    {% if content %}
        {{ content }}
    {% endif %}
    {% if show_edit_placeholder %}
      <p><strong>{{ edit_placeholder_title }}</strong></p>
      <p>{{ 'This block will render normally when viewed on a page (this is just a placeholder).'|t }}</p>
    {% endif %}
    <div id="rCw"></div>
</div>
